@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Logout";
}

<h2 class="text-center mt-5 mb-4">Logout</h2>
<div class="container d-flex justify-content-center">
    <form asp-controller="Account" asp-action="Logout" method="post">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger btn-lg px-4">Confirm Log out</button>
    </form>
</div>