@{
    Layout = "_Layout";
}
@model UrlShortener.Models.Link
@{
    ViewData["Title"] = "Shorten a Link";
}

<h2>Create Short Link</h2>
<div class="container mt-4">
    <form asp-action="Create" asp-controller="LinkWeb" method="post">
        <div class="form-group">
            <label asp-for="Url" class="control-label">Original URL</label>
            <input asp-for="Url" name="Url" class="form-control" />
            <span asp-validation-for="Url" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Shorten</button>
    </form>
</div>